  <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single"><%=current_user.username.upcase %></h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Agents</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <%=current_user.username %>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single -->

    <!-- ======= Agent Single ======= -->
    <section class="agent-single">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-6">
                <div class="agent-avatar-box">
                  <% if current_user.profile_image.attached? %>
                <%= image_tag current_user.profile_image, class:'agent-avatar img-fluid' %>
                <% end  %>
                </div>
              </div>
              <div class="col-md-5 section-md-t3">
                <div class="agent-info-box">
                  <div class="agent-title">
                    <div class="title-box-d">
                      <h3 class="title-d"><%=current_user.username %>
                      </h3>
                    </div>
                  </div>
                  <div class="agent-content mb-3">
                    <p class="content-d color-text-a">
                      Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                      Vivamus suscipit tortor
                      eget felis porttitor volutpat. Vivamus suscipit tortor eget felis porttitor volutpat.
                    </p>
                    <div class="info-agents color-a">
                      <p>
                        <strong>Username: </strong>
                        <span class="color-text-a"><%= current_user.username %></span>
                      </p>
                      <p>
                        <strong>Mobile: </strong>
                        <span class="color-text-a"><%= current_user.phone %></span>
                      </p>
                      <p>
                        <strong>Email: </strong>
                        <span class="color-text-a"> <%=current_user.email %>m</span>
                      </p>
                  
                    </div>
                  </div>
                  <div class="socials-footer">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 section-t8">
            <div class="title-box-d">
              <h3 class="title-d">My Properties (<%= current_user.properties.count %>)</h3>
            </div>
          </div>
          <div class="row property-grid grid">

            
            <% current_user.properties.each do |property| %>
          <div class="col-md-4  mb-5">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
            <% if property.images.attached?%>
              <%= image_tag property.images.first ,class:"img-a img-fluid" %>
            <% else %>
              <%= image_tag "property-1.jpg" ,class:"img-a img-fluid" %>
            <% end %>
              
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                     <%= link_to property.location , property%>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a"><%= property.property_type %> | $ <%=property.price %></span>
                  </div>
                  <%= link_to 'Click here to view', property ,class:'link-a'%>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span><%= property.area %>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span><%= property.bed %></span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span><%= property.bath %></span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span><%= property.garage %></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
          </div>
        </div>
      </div>
    </section><!-- End Agent Single -->