<p id="notice"><%= notice %></p>

<h1>All Properties</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Location</th>
      <th>Property type</th>
      <th>Status</th>
      <th>Area</th>
      <th>Bed</th>
      <th>Bath</th>
      <th>Garage</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.description %></td>
        <td><%= property.location %></td>
        <td><%= property.property_type %></td>
        <td><%= property.status %></td>
        <td><%= property.area %></td>
        <td><%= property.bed %></td>
        <td><%= property.bath %></td>
        <td><%= property.garage %></td>
        <td><%= property.user %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
